.chat-top {
    flex-shrink: 0;
    display: flex;
    height: 70px;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 4px 6px rgba(0, 0, 0, 0.1);
}

.dark-mode .chat-top {
    box-shadow: 0 1px 2px 4px rgb(255 255 255 / 3%);
}

.chat-top-left{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.avatar{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.avatar-buttton-chat {
    padding: 1vh;
    display: flex;
    align-items: center;
    background: none;
}

.avatar-buttton-chat:hover {
    background-color: var(--border-color);
}

.avatar-buttton-chat img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.avatar-buttton-chat span {
    font-size: 16px;
    font-weight: bold;
}

.back-button-chat{
    width: 30px;
    height: 45px;
    align-items: center;
    background: none;
}

.back-button-chat:hover {
    background-color: var(--border-color);
}

.dark-mode .back-button-chat:hover {
    background-color: var(--border-color);
}

/* Mostrar botón de retroceso en móvil */
@media (max-width: 768px) {
  .back-button-chat {
    display: flex !important;
  }
}

.chat-top-right {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 15px;
    display: flex;
    align-items: center;
}

.chat-top-right .options-button-header {
    width: 30px;
    height: 30px;
    background: none;
}

.chat-top-right .options-button-header .icon {
    font-size: 24px;
    color: var(--text-primary);
}

.chat-top-right .options-button-header:hover .icon {
    color: var(--button-hover);
}