.chat-messages {
    flex: 1;
    position: relative;
    padding: 16px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loading, .no-conversation, .no-messages {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: var(--text-secondary);
    font-style: italic;
}

.options-button {
    width: 30px;
    height: 30px;
    padding: 1px;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.45s ease;
}

.options-button:hover{
    background-color: #ebebeb;
}


.received:hover .options-button {
    opacity: 1;
}

.sent:hover .options-button {
    opacity: 1;
}

.dark-mode .options-button {
    background-color: #1e293b;
}

.dark-mode .options-button:hover {
    background-color: #1e293b;
    opacity: 1;
}